@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@font-face {
    font-family: "Jua";
    src: url("/path/to/Jua.woff2") format("woff2"),
         url("/path/to/Jua.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  } */
@font-face {
  font-family: 'Noto Sans KR';
  src:
    url('/path/to/NotoSansKR.woff2') format('woff2'),
    url('/path/to/NotoSansKR.woff') format('woff');
  font-weight: normal; /* 기본 두께 */
  font-style: normal;
}
html {
  /* font-family: "Jua", sans-serif;  */
  font-family: 'Noto Sans KR', sans-serif;
}
.scroll-hide::-webkit-scrollbar {
  display: none;
}
.container {
  width: calc(100vw - 200px);
  /* min-width: calc(100vw - 200px); */
  margin-left: auto; /* 자동 마진을 적용하여 중앙 정렬 */
  margin-right: auto; /* 자동 마진을 적용하여 중앙 정렬 */
}
:root {
  /*   deal전역 변수   */
  --deal_max-wt: 1200px;

  /*   dealContentContainer전역 변수    */
  --dealContentContainer-width: 500px;
  --dealContentContainer-pt: 20px;
  --dealContentContainer-pr: 40px;

  /*  dealContent 전역변수  */
  --contentImg-Height: 200px;
}
@layer components {
  .noto-sans-kr {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
  }

  .noto-sans-kr-bold {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
  }
}
